*, *::before, *::after {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    background-color: rgb(50, 50, 50);
    width: 255px;
    height: 450px;
    padding: 40px 20px;
    border-radius: 20px;
}
#screen {
    margin-bottom: 20px;
    
}
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(88, 88, 88);
    
}
.screen .input {
    height: 40px;
    align-items: flex-end;
    margin: 0 10px;
    margin-left: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
     
}
.screen .output {
    height: 50px;
    align-items: flex-end;
    margin: 0 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    overflow: hidden;
}

  
.numpad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    background-color: rgb(78, 78, 78);
    color: white;
}
button:active {
    background-color: rgb(128, 128, 128);
}
button.operation:active {
    background-color: rgb(255, 149, 0);
}
button#clear {
    background-color: white;
    color: black;
    opacity: 0.8;
}
button#clear:active {
    opacity: 1;
}