*, *::before, *::after {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    width: 215px;
    height: 370px;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
}
.screen .input {
    height: 50px;
    align-items: flex-end;
    padding-right: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.screen .output {
    height: 50px;
    align-items: flex-end;
    padding-right: 5px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.numpad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
}